

body{
    margin: 20px;
}


.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin:100px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

    
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 6%;
}

.detail-card{
    /* margin-left: 50px; */
    text-align: center;
}